svg {
    font: 10px sans-serif;
}

.bar {
    stroke: white;
    fill: steelBlue;

}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect.mover {
    stroke: lightSteelBlue;
    stroke-opacity: 0.3;
    fill: lightSteelBlue;
    fill-opacity: 0.1;
}